@font-face {
  font-family: "Neue Machina Light";
  src: local("Neue Machina Light"), local("Neue-Machina-Light"),
    url(../fonts/NeueMachina-Light.woff2) format("woff2"),
    url(../fonts/NeueMachina-Light.woff) format("woff"),
    url(../fonts/NeueMachina-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Neue Machina Regular";
  src: local("Neue Machina Regular"), local("Neue-Machina-Regular"),
    url(../fonts/NeueMachina-Regular.woff2) format("woff2"),
    url(../fonts/NeueMachina-Regular.woff) format("woff"),
    url(../fonts/NeueMachina-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neue Machina";
  src: local("Neue Machina Bold"), local("Neue-Machina-Bold"),
    url(../fonts/NeueMachina-Bold.woff2) format("woff2"),
    url(../fonts/NeueMachina-Bold.woff) format("woff"),
    url(../fonts/NeueMachina-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: local("Futura Bold"), local("Futura-Bold"),
    url(../fonts/Futura-Bold-font.woff2) format("woff2"),
    url(../fonts/Futura-Bold-font.woff) format("woff"),
    url(../fonts/Futura-Bold-font.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: local("futura medium bt"), local("futura-medium-bt"),
    url(../fonts/futura-medium-bt.woff2) format("woff2"),
    url(../fonts/futura-medium-bt.woff) format("woff"),
    url(../fonts/futura-medium-bt.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* reset start */

h1,
h2,
h1,
p {
  margin: 0;
}
img {
  display: block;
}
/* reset end */

body {
  font-family: "Neue Machina", sans-serif;
  background-color: #eeeeee;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.advantages-container-block {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .advantages-container-block {
    display: block;
  }
}

.container {
  max-width: 390px;

  margin-left: auto;
  margin-right: auto;
  

  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  
    align-items: center;
  }
}
.header {
  display: flex;
  padding: 40px 0px 0px 0px;
  align-items: center;

  width: 390px;
  height: 80px;
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 20px 200px 0 200px;
    width: 1520px;
  }
}

.header-container {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-right: auto;
}
@media only screen and (max-width: 1199px) {
  .nav-list {
    display: none;
  }
}

.navigation {
  width: 320px;
  max-width: 100%;
  height: 90px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1199px) {
  .navigation {
    width: 1520px;
  }
}

.action {
  font-family: "Neue Machina", sans-serif;
  color: var(--color-action);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.menu-head {
  font-family: "Neue Machina Light", sans-serif;

  padding-top: 37px;
  padding-bottom: 26px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}
@media only screen and (min-width: 1200px) {
  .logo-header {
    margin: 20px 303px 17px 40px;
    width: 200px;
    height: 53px;
  }
}
.logo-header {
  width: 200px;
  height: 53px;
  margin-left: 20px;
}

.header-button {
  display: none;
  min-width: 157px;
  min-height: 70px;
  border-radius: 46px;
  font-family: "Futura";
  border: none;
  color: #ffffff;

  background-color: #1e1515;
  cursor: pointer;
  font-weight: 500;
  font-size: 19px;
  line-height: 2.6;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 1199px) {
  .header-button {
    display: block;
  }
}

.header-button:hover {
  background-color: #60bc96;
}
.header-button:focus {
  background-color: #60bc96;
}
.header-btn {
  padding: 10px 10px 10px 376px;
}
.hero-container {
  display: flex;
  padding: 0px 20px 0px 20px;
}
.about-left-side {
}
.hero-text {
  font-family: "Neue Machina Light", sans-serif;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 33px;
  text-transform: uppercase;
  top: 170px;
  left: 46px;
  color: #000000;
}
@media only screen and (min-width: 1200px) {
  .hero-text {
    margin: 190px 0px 0px 200px;
    width: 740px;
    font-family: "Neue Machina Light", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80px;
    line-height: 77px;
    color: #000000;
    position: static;
  }
}

.ventureHR {
  position: absolute;
  top: 259px;
  left: 10px;
  height: 0px;
  width: 165px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  margin: 20px 0px 501px 43px;
}
@media only screen and (min-width: 1200px) {
  .ventureHR {
    width: 364px;
    margin: 0px 0px 60px 200px;
    position: static;
  }
}
.hero-button {
  top: 711px;
  left: -85px;
  position: absolute;
  min-height: 80px;
  border-radius: 46px;
  font-family: "Futura";
  border: none;
  color: #ffffff;

  margin: 0px 0px 0px 200px;

  background-color: #1e1515;
  cursor: pointer;
  font-weight: 500;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #60bc96;
}
.hero-button:focus {
  background-color: #60bc96;
}

@media only screen and (min-width: 1200px) {
  .hero-button {
    position: static;
    min-width: 157px;
    min-height: 70px;
    border-radius: 46px;
    font-family: "Futura";
    border: none;
    color: #ffffff;

    margin: 0px 0px 40px 200px;

    background-color: #1e1515;
    cursor: pointer;
    font-weight: 500;
    font-size: 19px;
    line-height: 130%;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   {
  }
}
.hero-paragraph {
  font-family: "Neue Machina Regular", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;

  color: #000000;
  /* margin: 386px 31px 103px 32px; */
  margin: 488px 33px 174px 20px;
}
@media only screen and (min-width: 1200px) {
  .hero-paragraph {
    font-family: "Neue Machina Regular", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    margin: 0px 0px 0px 200px;
  }
}
.span-text {
  font-family: "Neue Machina Regular", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
}
.hero-img {
  border-radius: 45px;
  position: absolute;
  height: 290px;
  top: 301px;
  left: 26px;
}

@media only screen and (min-width: 1200px) {
  .hero-img {
    position: static;
    width: 780px;
    height: 690px;
    border-radius: 45px;
    margin: 80px 200px 120px 0px;
  }
}

.sponsors-img {
  display: none;

  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  width: 430px;
  height: 143px;
  left: -45px;
  top: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.23);
}
@media only screen and (min-width: 1200px) {
  .sponsors-img {
    display: block;
    box-sizing: border-box;
  
    width: 1983px;
    height: 143px;
    left: -45px;
    top: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.23);
  } {
    
  }
}
.sponsors-img-mob{
  display: none;
}
@media only screen and (max-width: 1199px) {
  .sponsors-img-mob{
    display: block;
    margin-left: -24px;
    max-width: 430px;
  } {
    
  }
}

.info-section {
}

.info-hero-text {
  font-family: "Neue Machina Regular", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */

  text-align: center;

  color: #000000;
  margin-top: 80px;
  margin-bottom: 60px;
}

@media only screen and (min-width: 1200px) {
  .info-hero-text {
    font-family: "Neue Machina Regular", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    margin-top: 200px;
    margin-bottom: 97px;
  }
   {
  }
}

.info-content {
  display: block;

  margin-bottom: 120px;
}

@media only screen and (min-width: 1200px) {
  .info-content {
    display: flex;
    gap: 40px;
    margin-bottom: 318px;
  }
}
.img-info-section {
  width: 390px;
  height: 260px;
  border-radius: 45px;
}

@media only screen and (min-width: 1200px) {
  .img-info-section {
    width: 740px;
    height: 662px;
    border-radius: 45px;
    margin-left: 200px;
  }
   {
  }
}
.info-section-container {
  max-height: 743px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
padding: 10px 20px;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .info-section-container {
    width: 390px;
    max-height: 743px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 100px 0px 0px 100px;
    align-items: center;
  } {
    
  }
}
@media only screen and (min-width: 1200px) {
  .info-section-container {
    width: 740px;
    max-height: 662px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 100px 0px 0px 100px;
    align-items: center;
  }
   {
  }
}
.text-mob{
  padding: 40px 52px 52px 52px;
}
.section-title {
  font-family: "Neue Machina Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  /* or 24px */

  text-transform: uppercase;
  margin-bottom: 60px;

  color: #000000;
}

@media only screen and (min-width: 1200px) {
  .section-title {
    font-family: "Neue Machina Regular", sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 60px;

    color: #000000;
    pa
  }
   {
  }
}

.section-info-text {
  font-family: "Neue Machina Regular", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 153px;
}
.info-link {
  font-weight: 800;
  font-size: 22px;
  line-height: 21px;
  color: #000000;
  border-bottom: 2px solid #000000;
}
.info-text-marker {
  font-family: "Neue Machina Regular", sans-serif;
  font-weight: 1000;
  font-size: 18px;
  line-height: 150%;
}
.advantages-hero-text {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 267px;
  line-height: 100%;

  text-align: center;
  text-transform: uppercase;
}
.send-icon {
  margin: 45.66px 0px 0px 46.42px;
}
.first-advantages {
  margin: 200px 0px 0px 628px;

  width: 285px;
  height: 227px;
  background: rgba(203, 227, 198, 0.5);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 30px;
}
.advantages {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin: 26.42px 44px 33.96px 40px;
  color: #000000;
}
.second-advantages {
  width: 422px;
  height: 191px;
  background: rgba(169, 217, 158, 0.1);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 30px;
  margin: 264px 0px 0px 20px;
}
.advantages-container {
  display: flex;
}
.send-icon-second {
  margin: 39.94px 0px 0px 46.36px;
}
.advantages-second {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin: 20.1px 0px 0px 40px;
  color: #000000;
}
.third-advantages {
  width: 459px;
  height: 206px;
  background: #d6e2e7;
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 30px;
  margin: -5px 0px 0px 409px;
}
.advantages-container-second {
  display: flex;
}
.send-icon-third {
  margin: 40.02px 0px 0px 41.25px;
}
.advantages-third {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin: 17.62px 0px 0px 40px;
  color: #000000;
}
.fourth-advantages {
  width: 195px;
  height: 224px;
  background: rgba(234, 223, 201, 0.5);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 30px;
  margin: 20px 0px 0px 20px;
}
.send-icon-fourth {
  margin: 41.04px 0px 0px 40.55px;
}
.advantages-fourth {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin: 21.38px 0px 0px 40px;
  color: #000000;
}

.fifth-advantages {
  width: 225px;
  height: 224px;
  background: #dadded;
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 30px;
  margin: 20px 0px 0px 20px;
}
.send-icon-fifth {
  margin: 46.42px 0px 0px 46.29px;
}
.advantages-fifth {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin: 26.36px 0px 0px 40px;
  color: #000000;
}
.sixth-advantages {
  width: 201px;
  height: 223px;
  background: rgba(223, 219, 219, 0.18);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 30px;
  margin: -1px 0px 0px 657px;
}

.send-icon-sixth {
  margin: 41.59px 0px 0px 41.58px;
}
.advantages-sixth {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin: 21.12px 0px 0px 40px;
  color: #000000;
}
.advantages-container-third {
  display: flex;
}
.seventh-advantages {
  width: 243px;
  height: 260px;
  background: rgba(236, 218, 218, 0.854902);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 30px;
  margin: 20px 0px 0px 20px;
}
.send-icon-seventh {
  margin: 40.31px 0px 0px 43.57px;
}
.advantages-seventh {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin: 19.73px 0px 0px 40px;
  color: #000000;
}

.eighth-advantages {
  width: 435px;
  height: 202px;
  background: rgba(239, 239, 239, 0.6);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 30px;
  margin: 20px 0px 358px 20px;
}
.send-icon-eighth {
  margin: 43.95px 0px 0px 42.17px;
}
.advantages-eighth {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin: 23.41px 0px 0px 40px;
  color: #000000;
}

.roadmap-hero-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .roadmap-hero-text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  } {
    
  }
}
.roadmap-banner {
  position: absolute;
  width: 452.18px;
  height: 68.72px;
  left: 245px;
  top: 25.340000000000003px;
  z-index: -7;
  display: none;

  transform: matrix(-1, 0.03, 0.03, 1, 0, 0);
}

@media only screen and (min-width: 1200px) {
  .roadmap-banner {
    display: block;
    position: absolute;
    width: 452.18px;
    height: 68.72px;
    left: 245px;
    top: 25.340000000000003px;
    z-index: -7;
  
    transform: matrix(-1, 0.03, 0.03, 1, 0, 0);
  } {
    
  }
}
.roadmap-hero {
  width: 124px;

  font-family: "Neue Machina Regular", sans-serif;
  font-weight: 400;
font-size: 25px;
line-height: 110%;
/* or 28px */

text-transform: uppercase;

color: #000000;
  margin-left: 48px;
  margin-right: 48px;
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
  .roadmap-hero {
    width: 496px;
  
    font-family: "Neue Machina Regular", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 62px;
    text-transform: uppercase;
    margin-left: 197px;
    margin-right: 137px;
    text-align: center;
  }
   {
    
  }
}

.roadmap-text-container {
  max-width: 890px;

  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  overflow: hidden;
  padding: 60px 60px 60px 60px;
}
.roadmap-text {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  
  
  color: #000000
}

@media only screen and (min-width: 1200px) {
  .roadmap-text {
    font-family: "Neue Machina Light", sans-serif;
    font-weight: 300;
    font-size: 38px;
    line-height: 57px;
    color: #000000;
  } {
    
  }
}
.roadmap-img {
  display: none;
  position: absolute;
  margin: -1037px 0px 0px 346px;

  min-width: 1038px;
  min-height: 2568px;
}


@media only screen and (min-width: 1200px) {
  .roadmap-img {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .roadmap-numbers {
    display: block;
  }
}
.roadmap-numbers {
  display: none;
  position: absolute;
  margin: 263px 0px 0px 450px;
}
.roadmap-items {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .roadmap-items {
    display: flex;
  }
}

.roadmap-items-first-banner {
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 125%;
  color: #3d3d3d;
  margin: 507px 0px 0px 256px;
}
.roadmap-items-first-text {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  text-align: center;

  color: #2d2d2d;
}
.roadmap-items-first-content {
  align-items: flex-start;
  padding: 20px 40px;
  width: 234px;
  height: 121px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.1);
  border-radius: 20px;
  margin: 20px 0px 0px 200px;
  padding: 20px 40px;
}

.roadmap-items-second {
}
.roadmap-items-second-banner {
  position: absolute;
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 125%;
  color: #3d3d3d;
  margin: 40px 0px 0px 461px;
}
.roadmap-items-second-content {
}
.roadmap-items-second-text {
  padding: 20px 40px;
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  width: 292px;
  height: 121px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.1);
  border-radius: 20px;
  margin: 98px 0px 0px 360px;
}

.roadmap-items-third-banner {
  position: absolute;
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 125%;
  color: #3d3d3d;
  margin: -445px 356px 0px 720px;
}
.roadmap-items-third {
}
.roadmap-items-third-content {
  width: 244px;
  height: 121px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.1);
  border-radius: 20px;
  margin: -388px 0px 0px 688px;
}
.roadmap-items-third-text {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  text-align: center;
  padding: 20px 40px;

  color: #2d2d2d;
}

.roadmap-items-fourth-banner {
  position: absolute;
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 125%;
  color: #3d3d3d;
  margin: 86px 0px 0px 900px;
}

.roadmap-items-fourth-content {
  width: 277px;
  height: 94px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.1);
  border-radius: 20px;
  margin: 151px 0px 0px 854px;
}
.roadmap-items-fourth-text {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  text-align: center;
  padding: 20px 40px;

  color: #2d2d2d;
}

.roadmap-items-fifth-banner {
  position: absolute;
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 125%;
  color: #3d3d3d;
  margin: -446px 0px 0px 1184px;
}
.roadmap-items-fifth {
}
.roadmap-items-fifth-content {
  width: 348px;
  height: 121px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.1);
  border-radius: 20px;
  margin: -382px 0px 0px 1104px;
}
.roadmap-items-fifth-text {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  text-align: center;
  padding: 20px 40px;

  color: #2d2d2d;
}

.roadmap-items-sixth-banner {
  position: absolute;
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 125%;
  color: #3d3d3d;
  margin: 67px 0px 0px 1441px;
}
.roadmap-items-sixth {
}
.roadmap-items-sixth-content {
  width: 361px;
  height: 94px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.1);
  border-radius: 20px;
  margin: 125px 0px 0px 1354px;
}
.roadmap-items-sixth-text {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  text-align: center;
  padding: 20px 40px;

  color: #2d2d2d;
}
.tokenomisc {
}
.token-banner {
  display: none;
  position: absolute;

  left: 162.95px;
  top: 0px;
  z-index: -7;
}

@media only screen and (min-width: 1200px) {
  .token-banner {
    display: block;
    position: absolute;
  
    left: 162.95px;
    top: 0px;
    z-index: -7;
  } {
    
  }
}
.token-hero {
  font-family: "Neue Machina Regular", sans-serif;
  font-weight: 400;
font-size: 25px;
line-height: 110%;
/* identical to box height, or 28px */

text-transform: uppercase;
margin-left: 49px;
}

@media only screen and (min-width: 1200px) {
  .token-hero {
    font-family: "Neue Machina Regular", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 62px;
    text-transform: uppercase;
    margin-left: 0px;
  } {
    
  }
}
.token-container {
  margin-top: 122px;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .token-container {
    margin-top: 335px;
    position: relative;
  } {
    
  }
}
.tokem-items {
  display: flex;
  margin-top: 40.22px;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1200px) {
  .tokem-items {
    display: flex;
    margin-top: 40.22px;
    flex-direction: row;
  } {
    
  }
}
.tokem-items-first {
  width: 300px;
  height: 149px;
  background: rgba(199, 219, 226, 0.6);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);

  border-radius: 45px;
  padding: 40px;

  margin-left: 20.34px;
  
}

@media only screen and (min-width: 1200px) {
  .tokem-items-first {
    width: 582px;
    height: 250px;
    background: rgba(199, 219, 226, 0.6);
    box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  
    border-radius: 45px;
    padding: 40px;
  
    margin-left: 0px;
  }
   {
    
  }
}
.tokem-items-first-text {
  font-family: "Neue Machina", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  
  color: #2D2D2D;}

@media only screen and (min-width: 1200px) {
  .tokem-items-first-text {
    font-family: "Neue Machina", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #2d2d2d;
  } {
    
  }
}
.tokem-items-first-interest {
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 36.1739px;
  line-height: 35px;
  text-transform: uppercase;
  
  color: #000000;
  text-align: end;
  margin-top: 63px;
}

@media only screen and (min-width: 1200px) {
  .tokem-items-first-interest {
    font-family: "Neue Machina", sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 77px;
    text-transform: uppercase;
  
    color: #000000;
  
    text-align: end;
    margin-top: 128px;
  } {
    
  }
}

.tokem-items-second {
  width: 170px;
  height: 150px;
  padding: 40px;
  background: rgba(236, 205, 205, 0.6);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 45px;
  margin-left: 20px;
}

@media only screen and (min-width: 1200px) {
  
  .tokem-items-second {
    width: 270px;
    height: 246px;
    padding: 40px;
    background: rgba(236, 205, 205, 0.6);
    box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
    border-radius: 45px;
    margin-left: 20px;
  } {
    
  }
}
.tokem-items-second-text {
  font-family: "Neue Machina", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  color: #2d2d2d;
}
@media only screen and (min-width: 1200px) {
  .tokem-items-second-text {
    font-family: "Neue Machina", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    /* or 20px */
    
    
    color: #2D2D2D;
  } {
    
  }
}
.tokem-items-second-interest {
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-weight: 800;
  font-size: 36.1739px;
  line-height: 35px;
  text-transform: uppercase;
  
  color: #000000;
  text-align: end;
  margin-top: 15px;
}
@media only screen and (min-width: 1200px) {
  .tokem-items-second-interest {
    font-family: "Neue Machina", sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 77px;
    text-transform: uppercase;
  
    color: #000000;
    text-align: end;
    margin-top: 127px;
  } {
    
  }
}
.token-second-container {
  display: flex;
  flex-wrap: wrap;

}

@media only screen and (min-width: 1200px) {
  .token-second-container {
    display: flex;
    flex-wrap: nowrap;
    
  } {
    
  }
}
.tokem-items-third {
  width: 180px;
  height: 150px;
  background: rgba(234, 223, 201, 0.6);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 45px;
  margin: 0px 0px 0px 20px;
  padding: 40px;
}
@media only screen and (min-width: 1200px) {
  
  .tokem-items-third {
    width: 295px;
    height: 250px;
    background: rgba(234, 223, 201, 0.6);
    box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
    border-radius: 45px;
    margin: 20px 0px 0px 0px;
    padding: 40px;
  } {
    
  }
}
.tokem-items-third-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  
  color: #2D2D2D;
}

@media only screen and (min-width: 1200px) {
  .tokem-items-third-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
  
    color: #2d2d2d;
  } {
    
  }
}
.tokem-items-third-interest {
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 36.1739px;
  line-height: 35px;
  text-transform: uppercase;
  
  color: #000000;
  text-align: end;
  margin-top: 83px;
}
@media only screen and (min-width: 1200px) {
  .tokem-items-third-interest {
    font-family: "Neue Machina", sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 77px;
    text-transform: uppercase;
  
    color: #000000;
    text-align: end;
    margin-top: 154px;
  } {
    
  }
}
.tokem-items-fourth {
  width: 169px;
  height: 150px;

  background: rgba(203, 227, 198, 0.6);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 45px;
  margin: 20px 0px 0px 20px;
  padding: 40px;
}

@media only screen and (min-width: 1200px) {
  .tokem-items-fourth {
    width: 295px;
    height: 250px;
  
    background: rgba(203, 227, 198, 0.6);
    box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
    border-radius: 45px;
    margin: 20px 0px 0px 20px;
    padding: 40px;
  } {
    
  }
}
.tokem-items-fourth-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  
  color: #2D2D2D;
}
@media only screen and (min-width: 1200px) {
  .tokem-items-fourth-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
  
    color: #2d2d2d;
  } {
    
  }
}
.tokem-items-fourth-interest {
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 36.1739px;
  line-height: 35px;
  text-transform: uppercase;
  
  color: #000000;
  margin-top: 85px;
}
@media only screen and (min-width: 1200px) {
  .tokem-items-fourth-interest {
    font-family: "Neue Machina", sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 77px;
    text-transform: uppercase;
  
    color: #000000;
    text-align: end;
    margin-top: 154px;
  } {
    
  }
}


.tokem-items-fifth {
  width: 180px;
  height: 150px;
  background: rgba(205, 210, 237, 0.6);
  box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
  border-radius: 45px;
  margin: 20px 0px 0px 20px;
  padding: 40px;
}

@media only screen and (min-width: 1200px) {
  .tokem-items-fifth {
    width: 295px;
    height: 250px;
    background: rgba(205, 210, 237, 0.6);
    box-shadow: 0px 12px 21px rgba(130, 130, 130, 0.15);
    border-radius: 45px;
    margin: 20px 0px 0px 20px;
    padding: 40px;
  } {
    
  }
}
.tokem-items-fifth-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  
  color: #2D2D2D;
}

@media only screen and (min-width: 1200px) {
  .tokem-items-fifth-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
  
    color: #2d2d2d;
  } {
    
  }
}
.tokem-items-fifth-interest {
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 36.1739px;
  line-height: 35px;
  text-transform: uppercase;
  
  color: #000000;
  margin-top: 85px;
}

@media only screen and (min-width: 1200px) {
  .tokem-items-fifth-interest {
    font-family: "Neue Machina", sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 77px;
    text-transform: uppercase;
  
    color: #000000;
    text-align: end;
    margin-top: 154px;
  } {
    
  }
}
.tokenomisc {
}
.token-img {
  width: 316.5px;
  height: 323.39px;
  position: absolute;
  right: -10px;
  z-index: -7;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -115px -102px 0px 0px
}

@media only screen and (min-width: 1200px) {
  .token-img {
    width: 1017.23px;
    height: 1057.55px;
    position: absolute;
    right: -10px;
    z-index: -7;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -351px -673px 0px 1134.77px;
}
  } {
    
  }
}

.FAQs {
}
.FAQs-hero {
  font-family: "Neue Machina Regular", sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  /* or 60px */
  
  text-align: center;
  
  color: #000000;
  margin-top: 311px;
  margin-bottom: 193px;
  margin-left: 0px;
}
@media only screen and (min-width: 1200px) {
  .FAQs-hero {
    font-family: "Neue Machina Regular", sans-serif;
    font-weight: 300;
    font-size: 267px;
    line-height: 100%;
  
    text-align: center;
    text-transform: uppercase;
    margin-top: 311px;
    margin-bottom: 193px;
    margin-left: 0px;
  } {
    
  }
}
.faqBox {
  width: 400px;
}
@media only screen and (min-width: 1200px) {
  .faqBox {
    width: 1520px;
  } {
    
  }
}


details {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 125%;
  margin-bottom: 40px;
}

summary {
  font-family: "Neue Machina Light", sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 125%;

  text-transform: uppercase;

  color: #000000;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px 50px 100px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  justify-content: space-between;
  transition: height 1s ease;
  text-transform: uppercase;
}

.summaryAnswer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 180%;
}

.answerImg {
  position: absolute;
  right: 100px;
  z-index: -1;
}

.answerText {
  font-family: "Neue Machina Light", sans-serif;
  width: 219px;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  
  
  color: #000000; font-weight: 300;
  font-size: 28px;
  line-height: 180%;

  color: #000000;
}
@media only screen and (min-width: 1200px) {
  .answerText {
    font-family: "Neue Machina Light", sans-serif;
    width: 600px;
    font-weight: 300;
    font-size: 28px;
    line-height: 180%;
  
    color: #000000;
  } {
    
  }
}
summary::-webkit-details-marker {
  display: none;
}

summary:after {
  height: 50px;
  width: 50px;
  display: flex;
  content: "\2192";
  align-items: center;
  justify-content: center;
  font-size: 50px;
  line-height: 50px;
  background: #000;
  border-radius: 90px;
  color: aliceblue;
}

details[open] summary {
  /* border-bottom: 1px solid #aaa; */
  /* margin-bottom: 20px; */
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 50px 100px;
}
.team {
  display: block;
  flex-direction: column;
  width: 390px;
  margin-top: 288px;
  margin-bottom: 300px;
}

@media only screen and (min-width: 1200px) {
  .team {
    display: flex;
    flex-direction: column;
    width: 1520px;
    margin-top: 288px;
    margin-bottom: 300px;
  }
  
   {
    
  }
}
.teamContentBox {
  display: block;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 107px;
}

@media only screen and (min-width: 1200px) {
  .teamContentBox {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  } {
    
  }
}
.teamleader {
  display: block;
  width: 390px;
  height: 260px;
  border-radius: 45px;
  margin-left: 0px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1200px) {
  .teamleader {
    width: 740px;
    height: 535px;
    border-radius: 45px;
    margin-left: 0px;
  } {
    
  }
}
.ourTeamHeader {
  font-family: "Neue Machina Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 125%;
  text-align: center;
  color: #000000;
  padding: 0;
  margin-bottom: 80px;
}
.ourTeamBg {
  display: none;
  position: absolute;
  z-index: -1;
  margin-top: 17.28px;
  margin-left: -22px;
 
}


@media only screen and (min-width: 1200px) {
  .ourTeamBg {
    position: absolute;
    z-index: -1;
    margin-top: 17.28px;
    margin-left: -22px;
    display: block
  } {
    
  }
}

.meetOurTeam {
 width: 390px; 
  height: 535px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

@media only screen and (min-width: 1200px) {
  .meetOurTeam {
    width: 740px;
    height: 535px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
  } {
    
  }
}

.teamContent {
  max-width: 390px;
  padding: 51px 3px;
}
@media only screen and (min-width: 1200px) {
  .teamContent {
    max-width: 790px;
    padding: 100px;
  }
   {
    
  }
}
.teamHeader {
  font-family: "Neue Machina Regular", sans-serif;
  font-style: normal;
  width: 215px;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  /* or 24px */
  
  text-transform: uppercase;
  
  color: #000000
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  
  .teamHeader {
    font-family: "Neue Machina Regular", sans-serif;
    font-style: normal;
    width: 215px;
    font-weight: 400;
    font-size: 38px;
    line-height: 100%;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    text-transform: uppercase;
  } {
    
  }
}
.img-superpower{
  display: none;
}
@media only screen and (max-width: 1199px) {
  .img-superpower{
    display: block;
    margin-left: -22px;
  } {
    
  }
}
.snake-img-mob{
  display: none;
  margin-left: -6px;
}
@media only screen and (max-width: 1199px) {
  
  .snake-img-mob{
    display: block;
  } {
    
  }
}
.teamText {
  width: 390px;
  font-family: "Neue Machina Regular", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 125%;
 
  /* or 22px */
  
  
  color: #000000;}

@media only screen and (min-width: 1200px) {
  .teamText {
    width: 503px;
    font-family: "Neue Machina Regular", sans-serif;
    font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-top: 40px;
    margin-top: 40px;
  } {
    
  }
}
footer {
  display: none;
  justify-content: center;
  align-items: flex-end;
  max-width: 390px;
  height: 295px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 45px;
  margin-bottom: 20px;
  padding: 40px;
}
@media only screen and (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1520px;
    height: 560px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 45px;
    margin-bottom: 20px;
    padding: 40px;
  } {
    
  }
  
}
.mob-footer{
  display: none;
  justify-content: center;
  align-items: flex-end;
  max-width: 1520px;
  height: 560px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 45px;
  margin-bottom: 20px;
  padding: 40px;

}

.footer-mobile-list-first{
  display: flex;
  justify-content: center;
  margin: -249px 0px 0px -38px;
  position: relative;
}
.footer-mobile-list-second{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 133px;
  left: 106px;
}


}
.footer-mob-container{
  position: relative;
}
.footer-mob-private {
  position: absolute;
  font-weight: 300;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  left: 295px;
  top: 300px;
  color: #8D8D8D;
}
.footer-mob-text-second {
  position: absolute;
  font-weight: 300;
font-size: 13px;
line-height: 140%;
left: 261px;
top: 315px;
/* or 18px */


color: #8D8D8D;
}
.mob-footer-logo{
  position: absolute;
  left: 61px;
  top: 252px;
}
@media only screen and (max-width: 1199px) {
  .mob-footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 390px;
    height: 295px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 45px;
    margin-bottom: 20px;
    padding: 40px;
  
  } {
    
  }
}


  .footer-container {
    max-width: 1520px;
    width: 100%;
    max-height: 560px;
  
    margin-left: auto;
    margin-right: auto;
  
    align-items: center;
  } 


.footerBigBox {
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.linksBox a {
  text-decoration: none;
  color: #000;
}

.linksBox a:hover {
  opacity: 0.8;
}

.linkTop {
  padding-bottom: 25px;
  border-bottom: 1px solid #000000;
  width: 439px;
}

.linkBottom {
  padding-top: 25px;
}

.clickableLinkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
}

.linkText {
  display:none;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
}
@media only screen and (min-width: 1200px) {
  .linkText {
    display:block;
    font-family: "Neue Machina";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
  }
   {
    
  }
}
.footerInfoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footerBigLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerHR {
  height: 0px;
  width: 73px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  transform: rotate(90deg);
}

.footerRights {
  display: flex;
  gap: 40px;
}

.footerRights a {
  font-family: "Neue Machina";
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #8d8d8d;
}

.footerMenu {
  display: flex;
  gap: 60px;
}
.linkArrow {
  display: block;
  padding: 0px 0px 0px 411px;
}

.linkArrow {
  display: block;
  padding: 0px 0px 0px 411px;
}
.footerMenu a {
  font-family: "Neue Machina";
  font-style: normal;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}

.footer-button {
  width: 390px;
  height: 80px;
  font-size: 41px;
  line-height: 130%;

  color: #ffffff;
  position: absolute;
  font-family: "Futura";

  margin: -32px 0px 0px -195px;
  border-radius: 143px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  
  
  color: #FFFFFF;
  background-color: #1e1515;
  cursor: pointer;

  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover {
  background-color: #60bc96;
}
.footer-button:focus {
  background-color: #60bc96;
}
@media only screen and (min-width: 1200px) {
  .footer-button {
    font-weight: 500;
    font-size: 41px;
    line-height: 130%;
  
    color: #ffffff;
    position: absolute;
  
    width: 669px;
    height: 190px;
    margin: -93px 0px 0px -309px;
    border-radius: 143px;
    font-family: "Futura";
    border: none;
    color: #ffffff;
  
    background-color: #1e1515;
    cursor: pointer;
  
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } {
    
  }
}

.back-blur {
  width: 690px;
  height: 452px;
  position: absolute;
  background: rgba(0, 130, 36, 0.26);
  filter: blur(150.5px);
  border-radius: 1000px;
  z-index: -7;
  left: -193px;
  top: 169px;
}

.back-blur-second {
  display: none;
  position: absolute;
  width: 440px;
  height: 585px;
  background: rgba(33, 133, 155, 0.51);
  filter: blur(150px);
  border-radius: 1000px;
  left: 1510px;
  top: -77px;
  z-index: -7;
}
@media only screen and (min-width: 1200px) {
  .back-blur-second {
    display: block;
    position: absolute;
    width: 440px;
    height: 585px;
    background: rgba(33, 133, 155, 0.51);
    filter: blur(150px);
    border-radius: 1000px;
    left: 1510px;
    top: -77px;
    z-index: -7;
  } {
    
  }
}
.back-blur-third {
  position: absolute;
  width: 272px;
  height: 240px;
  background: rgba(223, 133, 83, 0.34);
  filter: blur(75px);
  border-radius: 1000px;
  left: 397px;
  top: 389px;

  z-index: -7;
}
.back-blur-fourth {
  position: absolute;
  width: 238px;
  height: 210px;
  background: rgba(88, 0, 130, 0.17);
  filter: blur(75px);
  border-radius: 1000px;
  left: 574px;
  top: 362px;

  z-index: -7;
}
.back-blur-fifth {
  display: none;
  position: absolute;
  width: 381px;
  height: 336px;
  background: rgba(88, 0, 130, 0.23);
  filter: blur(75px);
  border-radius: 1000px;
  transform: rotate(-93.15deg);
  left: 1678.83px;
  top: 1273.88px;
  z-index: -7;
}
@media only screen and (min-width: 1200px) {
  .back-blur-fifth {
    display: block;
    position: absolute;
    width: 381px;
    height: 336px;
    background: rgba(88, 0, 130, 0.23);
    filter: blur(75px);
    border-radius: 1000px;
    transform: rotate(-93.15deg);
    left: 1678.83px;
    top: 1273.88px;
    z-index: -7;
  }
   {
    
  }
}

.back-blur-sixth {
  display: none;
  position: absolute;
  width: 308.97px;
  height: 261.26px;
  left: 1727.24px;
  top: 1450.46px;

  background: rgba(223, 133, 83, 0.41);
  filter: blur(75px);
  border-radius: 1000px;
  transform: rotate(-93.15deg);

  z-index: -7;
}

@media only screen and (min-width: 1200px) {
  .back-blur-sixth {
    display: block;
    position: absolute;
    width: 308.97px;
    height: 261.26px;
    left: 1727.24px;
    top: 1450.46px;
  
    background: rgba(223, 133, 83, 0.41);
    filter: blur(75px);
    border-radius: 1000px;
    transform: rotate(-93.15deg);
  
    z-index: -7;
  } {
    
  }
}

.back-blur-seventh {
  position: absolute;
  width: 702px;
  height: 736px;
  left: -504px;
  top: 2112.16px;

  background: rgba(0, 130, 36, 0.25);
  filter: blur(93px);
  border-radius: 1000px;
  z-index: -7;
}
.back-blur-eight {
  position: absolute;
  width: 1358px;
  height: 1291px;
  left: 1475px;
  top: 3718px;

  background: rgba(0, 130, 99, 0.19);
  filter: blur(150.5px);
  border-radius: 1000px;
}
.back-blur-ninth {
  position: absolute;
  width: 591px;
  height: 633px;
  left: -317px;
  top: 5009px;

  background: rgba(33, 155, 67, 0.25);
  filter: blur(150.5px);
  border-radius: 1000px;
}
.back-blur-tenth {
  display: none;
  position: absolute;
  width: 1810px;
  height: 1960px;
  left: -1067px;
  top: 6411px;

  background: rgba(33, 133, 155, 0.24);
  filter: blur(287px);
  border-radius: 1000px;
}
@media only screen and (min-width: 1200px) {
  .back-blur-tenth {
    display: block;
    position: absolute;
    width: 1810px;
    height: 1960px;
    left: -1067px;
    top: 6411px;
  
    background: rgba(33, 133, 155, 0.24);
    filter: blur(287px);
    border-radius: 1000px;
  } {
    
  }
}
.back-blur-eleventh {
  display: none;
  position: absolute;
  width: 457px;
  height: 422px;
  left: 1648px;
  top: 10000px;

  background: rgba(33, 133, 155, 0.21);
  filter: blur(75px);
  border-radius: 1000px;
}
@media only screen and (min-width: 1200px) {
  .back-blur-eleventh {
    display: block;
    position: absolute;
    width: 457px;
    height: 422px;
    left: 1648px;
    top: 10000px;
  
    background: rgba(33, 133, 155, 0.21);
    filter: blur(75px);
    border-radius: 1000px;
  } {
    
  }
}

.back-blur-twelve {
  position: absolute;
  width: 690px;
  height: 452px;
  left: -467px;
  top: 10444px;

  background: rgba(0, 130, 36, 0.28);
  filter: blur(150.5px);
  border-radius: 1000px;
}
.hero-vector {
  display: none;
  position: absolute;
  z-index: -1;
  margin-top: -248.72000000000003px;
  margin-left: 500px;
}
@media only screen and (min-width: 1200px) {
  .hero-vector {
    display: block;
    position: absolute;
    z-index: -1;
    margin-top: -248.72000000000003px;
    margin-left: 500px;
  } {
    
  }
}
.hero-vector-second {
  display: none;
  position: absolute;
  z-index: -1;
  margin-top: -247.72000000000003px;
  margin-left: 1000px;
}


@media only screen and (min-width: 1200px) {
  .hero-vector-second {
    display: block;
    position: absolute;
    z-index: -1;
    margin-top: -247.72000000000003px;
    margin-left: 1000px;
  } {
    
  }
}
.hero-vector-thirt {
  display: none;
  position: absolute;
  z-index: -1;
  margin-top: -170.72000000000003px;
  margin-left: 771px;
}

@media only screen and (min-width: 1200px) {
  .hero-vector-thirt {
    display: block;

    position: absolute;
    z-index: -1;
    margin-top: -170.72000000000003px;
    margin-left: 771px;
  } {
    
  }
}

.back-blur-container {
  position: relative;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color:background: rgba(255, 255, 255, 0.6);
  border-radius: 20px; rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
